<!DOCTYPE html>
<html>
<head>
    <title>Sample Angular Project</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <script src="../Scripts/angular.js"></script>
    <script src="CustomerModule.js"></script>
    <style>
        .row{
            background-color:white;
            grid-row:auto;
        }
        .rowHeader{
            background-color:beige;
        }
        .rowEven{
            background-color:antiquewhite;
        }
    </style>
</head>
<body ng-app="custModule" ng-controller='custController as custCtrl'>
    <form name="newCustomerForm" ng-submit="custCtrl.addCustomer()" style="width:50%" title="Add Customer">
        <h4>New Customer</h4>
        <div>
            <table class="form-horizontal">
                <tr>
                    <td>First Name</td>
                    <td><input type="text" ng-model="custCtrl.customer.firstName" required />{{ custCtrl.customer.firstName }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <input type="text" ng-model="custCtrl.customer.lastName" required class="col-lg-10" />
                        {{ custCtrl.customer.lastName}}
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>
                        <input type="date" ng-model="custCtrl.customer.dateOfBirth" required></input>{{  custCtrl.customer.dateOfBirth | date:'dd/MMM/yyyy' }}
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="radio" ng-model="custCtrl.customer.gender" name="gender" value="Male">Male
                        <input type="radio" ng-model="custCtrl.customer.gender" name="gender" value="Female">Female
                        <strong>{{ custCtrl.customer.gender }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <select ng-model="custCtrl.customer.country">
                            <option value="India">India</option>
                            <option value="USA">USA</option>
                            <option value="Australia">Australia</option>
                        </select>
                        {{ custCtrl.customer.country }}
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" ng-model="custCtrl.customer.email" /> {{ custCtrl.customer.email }} </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add Customer" />
                    </td>
                </tr>
            </table>
            <br/>
           <customer-list></customer-list>
        </div>
    </form>
</body>
</html>