 Search the table: <input type="search" ng-model="searchField" />
<table ng-show="custCtrl.customerList.length" class="row">
    <thead class="rowHeader">
        <tr>
            <th><a href="#" ng-click="sortField='firstName';reverse=!reverse">Name</a></th>
            <th><a href="#" ng-click="sortField='dateOfBirth';reverse=!reverse">Date of Birth</a></th>
            <th><a href="#" ng-click="sortField='gender';reverse=!reverse">Gender</a></th>
            <th><a href="#" ng-click="sortField='country';reverse=!reverse">Country</a></th>
            <th><a href="#" ng-click="sortField='email';reverse=!reverse">Email</a></th>
        </tr>
    </thead>
    <tr ng-repeat="custItem in custCtrl.customerList | filter:searchField | orderBy:sortField:reverse" ng-class-even="'rowEven'">
        <td>{{ custItem.firstName }} {{ custItem.lastName }}</td>
        <td>{{ custItem.dateOfBirth | date:'dd/MMM/yyyy' }}</td>
        <td>{{ custItem.gender }}</td>
        <td>{{ custItem.country }}</td>
        <td><a ng-href="mailto:{{ custItem.email }}">{{ custItem.email }}</a></td>
    </tr>
</table>